<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ityang.basic.mapper.GroupMapper">
    <resultMap id="BaseResultMap" type="com.ityang.basic.entity.Group">
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="groupName" property="groupname" jdbcType="VARCHAR"/>
        <result column="groupNote" property="groupnote" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insert" parameterType="com.ityang.basic.entity.Group">
    insert into group (ID, groupName, groupNote
      )
    values (#{id,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, #{groupnote,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ityang.basic.entity.Group">
        insert into group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="groupname != null">
                groupName,
            </if>
            <if test="groupnote != null">
                groupNote,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="groupname != null">
                #{groupname,jdbcType=VARCHAR},
            </if>
            <if test="groupnote != null">
                #{groupnote,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>