<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ityang.basic.mapper.UserMapper">
    <select id="getId" resultType="string">
        <bind name="test" value="${dbType}"/>
        <choose>
            <when test="dbType neq null "><![CDATA[
                select '${dbType}' from dual
            ]]></when>
            <otherwise>
                select &apos;yang&apos; from dual
            </otherwise>
        </choose>
    </select>
</mapper>